---
title: AudioBLog

---
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css"/>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <img class ="imglogo" src="{{site.baseurl}}/assets/images/audioblog.png" alt="logoaudioblog"/>
        <h1 class="titulo">Programas para grabación y edición de sonido</h1>

            {% include header.html %} 
        
            {{ content }}

            {% include footer.html %}
    </body>
</html>